.recipes-text {
  color: #c98a40;
}

.recipes-rendered-data{
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 900;
  line-height: 24px;
  color: #c98a40;
}

.recipes-content-text {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #333333;
}

.recipes-image{
  border: solid 1px #FFD8AB;
}
